<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test  thread-count="1" parallel="classes" verbose="2" preserve-order="true" name="D:/SeleniumFrameWorks/GitHubSumitraut01/RoughPractice2025/src/test/java/demo">
        <classes>

            <class name="demo.TestExample">
                <methods>
                    <include name="method1"/>
                    <include name="method2"/>
                </methods>
            </class>
            <class name="demo.TestExample2">
                <methods>
                    <include name="method1"/>
                    <include name="method2"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>