<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/SeleniumFrameWorks/GitHubSumitraut01/RoughPractice2025/src/test/java/demo/testngcontexts">
    <classes><class name="demo.testngcontexts.R1_ISuiteContext1">
        <methods><include name="method1"/></methods>
    </class><class name="demo.testngcontexts.R1_ISuiteContext2">
        <methods><include name="method2"/></methods>
    </class>
    </classes></test></suite>